{
    "parser": "babel-eslint",
    "settings": {
        "ecmascript": 7,
        "ecmascript": 6
    },
    "plugins": [
        "react"
    ],
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "generators": true,
        "destructuring": true,
        "binaryLiterals": true,
        "classes": true,
        "defaultParams": true,
        "modules": true,
        "binaryLiterals": true,
        "binaryLiterals": true
    },
    "rules": {
        "strict": 0,
        "quotes": 0,
        "no-unused-vars": 0,
        "camelcase": 0,
        "no-underscore-dangle": 0,
        "prefer-reflect": 2
    },
    "env": {
        "node": true
    }
}
